<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>resolutionData</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>新建专区模版.md</key>
			<dict>
				<key>lastModification</key>
				<real>515657638.96368903</real>
				<key>version</key>
				<dict>
					<key>3f434e17a8747395ae7b86886e83beafa411f25e0bb2ffdc6126bb2c4be7da74</key>
					<integer>3</integer>
				</dict>
			</dict>
			<key>网页上传规则.md</key>
			<dict>
				<key>lastModification</key>
				<real>515657611.56694603</real>
				<key>version</key>
				<dict>
					<key>3f434e17a8747395ae7b86886e83beafa411f25e0bb2ffdc6126bb2c4be7da74</key>
					<integer>2</integer>
				</dict>
			</dict>
		</dict>
	</dict>
	<key>sheetClusters</key>
	<array>
		<array>
			<string>网页上传规则.md</string>
		</array>
		<array>
			<string>新建专区模版.md</string>
		</array>
	</array>
	<key>storeFormatVersion</key>
	<integer>1</integer>
	<key>versioning</key>
	<dict>
		<key>sheetClusters</key>
		<dict>
			<key>3f434e17a8747395ae7b86886e83beafa411f25e0bb2ffdc6126bb2c4be7da74</key>
			<integer>4</integer>
		</dict>
	</dict>
</dict>
</plist>
